<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <body>
    <p>Something went wrong. Please try again later.</p>

    <a href="/">Go to main page</a>
  </body>
</html>
